html {
  box-sizing: border-box;
}

html *, html *:after, html *:before {
  box-sizing: inherit;
}

#logo {
  height: 100px;
}

#github-icon {
  width: 50px;
  margin-right: 14px;
}

#nav-link {
  line-height: 100px;
  margin-right: 50px;
}

.navbar .navbar-expand-lg .navbar-light .bg-light {
  padding: 0px 30px;
}

h2 {
  margin: 20px 40px;
}

.card {
  width: 18rem;
  margin: 0px 24px 24px 0px;
}

.d-inline-flex {
  flex-wrap: wrap;
  margin: 0px 30px 80px 30px;
}

.bg-light {
  background-color: #7898b3!important;
  padding: 0px 40px;
}

.btn-outline-success {
  color: #464f5a;
  border-color: #5a5b67;
}

.btn-outline-success:hover {
  background-color: #4e4f52b7;
  border-color: #5a5b67;
}

#button-container {
  position: absolute;
  bottom: 16px;
}

.btn-primary {
  margin-right: 5px;
}

.card-body {
  margin-bottom: 40px;
}

.card {
  -webkit-box-shadow: 6px 5px 5px 0px rgba(24, 21, 74, 0.34);
  -moz-box-shadow: 6px 5px 5px 0px rgba(24, 21, 74, 0.34);
  box-shadow: 6px 5px 5px 0px rgba(24, 21, 74, 0.34);
}

.card:hover {
  transform: scale(1.05) translateZ(0);
  transition-duration: 0.5s;
}

.tag {
  margin: 0px;
  position: absolute;
  bottom: -1px;
  right: -1px;
  background-color: #1a1a1ac7;
  width: 55px;
  text-align: center;
  color: #dbdbdb;
  font-size: 0.7em;
  padding: 3px 0px;
  border-radius: 2px
}

.footer {
  opacity: 0;
  background-color: #1a1a1af3;
  text-align: center;
  flex-shrink: none;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-container {
  width: auto;
  height: 30px;
  padding-top: 5px;
}

.mt-auto, .my-auto {
  margin-top: auto!important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem!important;
}

.pt-3, .py-3 {
  padding-top: 1rem!important;
}

.github {
  background-color: #363738de;
}

.github:hover {
  background-color: #4e4f52b7;
}

@media only screen and (max-width: 1200px) {
  .d-inline-flex {
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  #nav-link {
    line-height: 50px;
  }
  #logo {
    height: 50px;
  }
  h2 {
    font-size: 1.4em;
  }
}